html{
    max-width: 1440px;
    height:auto;
    width: auto;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* outline: 1px solid black */
}

body{
    height:auto;
    width: auto;
    margin: 0;
}

.header, .first_part, .second_part, .third_part{
    margin: 0 90px;
    font-family: 'Raleway';
}

.text{
    font-size: 20px;
    color: white;
    font-weight: 100;
    font-style: normal;
    font-family: 'Raleway';
    text-align: center;
    margin: 0 30px;
}

h1{
    margin:0;
    font-size: 48px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Raleway';
}

h2{
    margin: 0;
    margin-top: 60px;
    margin-bottom: 24px;
    font-family: 'Raleway';
    color: white;
    line-height: 47px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.header{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 114px;
}

.header div{
    margin: 25px 0;
}

.first_part{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 117px;
}

.child{
    width: 641px;
    height: 392px;
    margin-top: 74px;
}

.second_part{
    display:flex;
    justify-content: space-between;
    /* outline: 1px solid black; */
}

.ad_block{
    border-radius: 20px;
    background-color: #8DA2FF;
    width: 330px;
    height: 330px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.third_part{
    margin: 76px 0 0;
    background-color: #8DA2FF;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.learn{
    width: 625px;
    height: 590px;
    margin: 121px 0 121px 135px;
}

.first_lesson{
    width: 429px;
    height: 620px;
    background-color: white;
    margin-right: 138px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.advertisment{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.footer{
    font-family: 'Roboto';
    margin: 39px 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.contacts{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.blue{
    color: #8DA2FF;
}

.capt{
    font-weight: 700;
}

a:hover, button:hover{
    cursor: pointer;;
}

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    max-width: 602px;
}

.modal_content h4{
    margin: 0 auto 14px;
    font-size: 20px;
    font-weight: 100;
}

.taker{
    margin: 32px auto 0;
}

.taker input{
    width: 494px;
    height: 45px;
    font-size: 20px;
    background: #CBCBCB;
    border-radius: 10px;        
}

.join{
    height:60px; 
    border:1px solid #8DA2FF;
    border-radius: 20px;
    background-color: #8DA2FF;
    margin: 49px 121px 21px;
    width: 360px;
}

.cancel{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 20px;
}